.about-us-wrapper {
    background-color:#faf5f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 14px;
    font-weight: bold;
    color:var(--main-subheading-btn-color);
}

.subheader_title {
    margin-top: 20px;
    font-size: 34px;
    font-weight: bold;
    color:var(--main-heading-color);
    font-family: "Lora", serif;
}

.subheader_text {
    margin-top: 25px;
    font-size: 17px;
    font-weight: 400;
    color: var(--main-text-color);
}

.subheader_list {
    margin-top: 20px;
    margin-left: 20px;
}

.list_element {
    list-style-type: disc;
    font-size: 15px;
    color:#191c18;
}


@media (min-width: 700px) {
    .about-us-wrapper-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        min-height: 917px;
    }  
    
    .about-us-text {
        margin-top: 37%;
    }
    .title {
        font-size: 14px;
        color:var(--main-subheading-btn-color);
        font-weight: bold;
    }
    
    .subheader_title {
        font-size: 42px;
        color:var(--main-heading-color);
        font-family: "Lora", sans-serif;
    }
    
    .subheader_text {
        font-size: 17px;
        color: var(--main-text-color);
    }
    .subheader_list {
        font-size: 15px;
        color:#191c18;
    }
    
    .btn-about-us {
        margin: 10px;
        display: inline-block;
        font-size: 12px;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        padding: 18px 34px;
        border-radius: 28px;
        text-decoration: none;
        text-align: center;
        transition: color 0.7s;
        background-color:var(--main-subheading-btn-color) ;
    }
    
    .btn-about-us:hover {
      background-color: var(--main-heading-color);
    }

    .list_element {
        list-style-type: disc;
        font-size: 15px;
        color:#191c18;
    }
    
    
}