.features-text {
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 30px;
    padding-right: 30px;
}
.title {
    font-size: 14px;
    font-weight: bold;
    color:var(--main-subheading-btn-color);
}

.features-subheader_title {
    margin-top: 15px;
    font-size: 34px;
    font-weight: bold;
    color:var(--main-heading-color);
    font-family: "Lora", serif;
}

.features-subheader_text {
    margin-top: 30px;
    font-size: 17px;
    font-weight: 400;
    color: var(--main-text-color);
}


.list-picture {
    width: 40px;
    height: 40px;
    padding-top: 15px;
    padding-left: 15px;
}
.list-picture-container {
background-color:#faf5f2;
width: 70px;
height: 70px;
border-radius: 50%;
}

.list_element-block {
    list-style-type: none;
}
.list-conteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (min-width: 700px) {
    .features-wrapper-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }  
    
    .features-text {
        padding-top: 130px;
        padding-bottom: 65px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .feature-picture {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .title {
        font-size: 14px;
        color:var(--main-subheading-btn-color);
        font-weight: bold;
    }
    
    .features-subheader_title {
        font-size: 42px;
        color:var(--main-heading-color);
        font-family: "Lora", sans-serif;
    }
    
    .features-subheader_text {
        font-size: 18px;
        color: var(--main-text-color);
    }
    .features-subheader_list {
        font-size: 15px;
        color:#191c18;
    }
    
    .list_element-block {
        list-style-type: none;
        font-size: 15px;
        color:#191c18;
    }
    .list-picture {
        width: 60px;
        height: 60px;
        padding-top: 18px;
        padding-left: 20px;
    }
    .list-picture-container {
    background-color:#faf5f2;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 25px;
    }
} 