 footer {
     padding-left: 15px;
     padding-right: 15px;
     height: 900px;
     display: flex;
     flex-direction: column;
     align-content: space-around;
     flex-direction: column;
 }
 
 .contacts-and-form {
     font-family: 'Source Sans Pro' sans-serif;
     display: flex;
     flex-direction: column;
 }
 
 .contacts-section {
     min-height: 600px;
     min-width: 150px;
     background-color: #fff;
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-content: space-around;
 }
 
 iframe {
     min-height: 350px;
     min-width: 95vw;
     border: 0;
     display: flex;
     flex-direction: column;
     justify-content: center;
     flex-direction: column;
     align-items: flex-start;
 }
 
 .contacts-section__subheader {
     font-weight: 900;
     color: var(--main-subheading-btn-color);
     font-size: 14px;
 }
 
 .contacts-section__h2 {
     color: var(--main-heading-color);
     font-family: 'Lora', sans-serif;
     font-size: 42px;
     font-weight: 900;
 }
 
 .contacts-section__address-h3,
 .contacts-section__hours-h3,
 .contacts-section__contacts-h3 {
     font-size: 24px;
     line-height: 1.4;
     font-family: 'Source Sans Pro', sans-serif;
     font-weight: 900;
     color: var(--main-heading-color);
 }
 
 .contacts-section__contacts-p {
     color: var(--main-subheading-btn-color);
     font-size: 17px;
 }
 
 .customer-form {
     display: flex;
     flex-direction: column;
 }
 
 .customer-form__h2 {
     color: var(--main-heading-color);
     font-family: 'Lora', sans-serif;
     font-size: 42px;
     font-weight: 900;
 }
 
 .footer-nav {
     height: 400px;
     width: auto;
     display: flex;
     flex-direction: column;
 }
 
 .form-container {
     display: flex;
     align-items: space-around;
     margin-top: 30px;
 }
 
 .customer-form {
     padding-left: 50px;
     padding-right: 50px;
     padding-top: 10px;
     padding-bottom: 30px;
     border: 0;
     border-radius: 10px;
     margin-right: 20px;
     min-height: 600px;
     min-width: 150px;
     display: flex;
     align-items: center;
     justify-content: space-around;
     box-shadow: 0 6px 12px 0 rgba(62, 65, 75, .1);
 }
 
 .customer-form__h2 {
     line-height: 1.2;
     font-size: 42px;
     color: var(--main-heading-color);
     font-family: 'Lora', sans-serif;
 }
 
 .customer-form__text-to-customer {
     font-size: 17px;
     line-height: 1.5;
     font-family: 'Source Sans Pro', sans-serif;
     font-weight: 400;
 }
 
 .customer-form__input,
 .customer-form__submit {
     display: flex;
     align-items: center;
     justify-content: center;
     min-width: 150px;
     min-height: 40px;
     font-size: 11px;
     border-radius: 21px;
     padding: 1px 24px;
     background-color: #faf5f2;
     border: 1px, solid #faf5f2;
     border: 0;
 }
 
 .customer-form__submit {
     background-color: #79a207;
     color: white;
     min-width: 190px;
 }
 
 @media (min-width: 770px) {
     .contacts-and-form {
         display: grid;
         grid-template-columns: 1fr 1fr;
     }
     iframe {
         min-height: 350px;
         min-width: 45vw;
     }
 }