.ourplants_smallsubheading {
    font-size: 14px;
    font-weight: bold;
    color: var(--main-subheading-btn-color);
    text-align: center;
    text-transform: uppercase;
}
.ourplants_heading {
    font-size: 34px;
    font-weight: bold;
    font-family: 'Lora', sans-serif;
    text-align: center;
}
.ourplants_subheading {
    font-size: 18px;
    text-align: center;
}
.plants_location {
    font-size: 14px;
    color: var(--main-subheading-btn-color);
    text-transform: uppercase;
}
.plants_show {
    margin: 25px;
}
@media (min-width: 600px) {
    .plants_show {
        display: grid;
        grid-column-gap: 5px;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 900px) {
    .plants_show {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 980px) {
    .plants_show {
        grid-template-columns: repeat(4, 1fr);
    }
}
.plants_show_pictures {
    border-radius: 5px;
    width:219px;
    height: 298px;
}
.line_allscreen {
    height: 0px;
    background-color: grey;
    opacity: 0.3;
    width: 100%;
    margin-top: 15px;
}
