.plant_show-wrapper {
    background-color:#faf5f2;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
}

.plant-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.plant-carousel_list {
    display: flex;
}


.plant_card {
    display: flex;
    flex-direction: column;
   max-width: 380px;
    max-height: 375px;
    padding: 26px;
}

.icon-wrapper {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color:rgba(121, 162, 7, 0.23);
}

.plant-icon {
    max-width: 40px;
    padding-top: 15px;
    margin: auto;
    height: 40px;
}    

.plant-carousel .plant_card {
    border-top: 3px solid #79a207;
    border-radius: 5px;
    background-color: #fff;
}

.plant_card_title {
    margin-top: 20px;
    font-size: 22px;
    color:var(--main-heading-color);
}

.plant_card_text {
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--main-text-color);
}

.plant-btn {
    margin-bottom: 20px;
}
.plant_card_btn {
    font-size: 11px;
    font-weight: bold;
    color: #191c18;
    text-decoration: none;
}

.plant_card_btn:hover {
    text-decoration:underline;
}

.plant-list-bottom {
    background-image: url(../img/header-about-us-picture/plant-list-bottom.png);
    background-size:cover;
    height: 120px;
}


.carousel-button {
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    border: none;
    padding-top: 4px;
    }

.plant_showback{
    position: absolute;
    top: 172px;
    left: -14px;
    }
    
.plant_showforward{
    position: absolute;
    top: 172px;
    right: -14px;
    }

.fas {    
    height: 29px;
    width: 23px;
    color:#191c18;
}

@media(min-width: 600px) {
    .plant_card {
        margin-left: 30px;
    }

    .plant_showback{
        position: absolute;
        top: 172px;
        left: 15px;
        }
    
}

@media (min-width: 700px) {
  
    .plant-carousel_list{
        display: flex;
    }

    .plant_card {
        margin-left: 30px;
    }
    .icon-wrapper {
        display: block;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color:rgba(121, 162, 7, 0.23);
    }
    
    .plant-icon {
        max-width: 60px;
        padding-top: 15px;
        margin: auto;
        height: 60px;
    }    

    .plant_card_title {
        margin-top: 20px;
        font-size: 24px;
        font-weight: bold;
        color:var(--main-heading-color);
    }

    .plant-btn {
        margin-bottom: 20px;
    }

    .plant_showback{
    position: absolute;
    top: 172px;
    left: 15px;
    }

    .plant_showforward{
    position: absolute;
    top: 172px;
    right: -15px;
    }
}