.plant_show-wrapper {
    background-color:#faf5f2;
}

.plant_show .plant_card {
    border: 1px solid black;
    padding: 5px;
    background-color: #fff;
}

@media (min-width: 600px) {
    .plant_show {
        display: grid;
        gap: 5px;
        grid-template-rows: 1fr 1fr 1fr;
    }  

   .plant_card {
    max-width: 583px;
   } 

.icon {
    width: 60px;
    height: 60px;
}    
}