.plant_show-wrapper {
    background-color:#faf5f2;
    padding-left: 24px;
    padding-right: 24px;
}

.plant-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.plant-carousel_list {
    display: flex;
}


.plant_card {
    padding-left: 35px;
    padding-top: 29px;
    padding-bottom: 29px;
    padding-right: 35px;
}

.icon-wrapper {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color:rgba(121, 162, 7, 0.23);
}

.plant-icon {
    max-width: 40px;
    padding-top: 15px;
    margin: auto;
    height: 40px;
}    

.plant-carousel .plant_card {
    border-top: 3px solid #79a207;
    border-radius: 5px;
    background-color: #fff;
}

.plant_card_title {
    margin-top: 20px;
    font-size: 22px;
    color:var(--main-heading-color);
}

.plant_card_text {
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--main-text-color);
}

.plant-btn {
    margin-bottom: 20px;
}
.plant_card_btn {
    font-size: 11px;
    font-weight: bold;
    color: #191c18;
    text-decoration: none;
}

.plant_card_btn:hover {
    text-decoration:underline;
}

.plant-list-bottom {
    background-image: url(../img/header-about-us-picture/plant-list-bottom.png);
    background-size:cover;
    height: 120px;
}


.carousel-button {
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    border: none;
    padding-top: 4px;
    }

.fas {    
    height: 29px;
    width: 23px;
    color:#191c18;
}

@media (min-width: 700px) {
    .plant_show-wrapper {
        padding:0px;
    }
 
    .plant-carousel {
        margin: auto;
        display: flex;
        justify-content: center;
    }
    
    .plant-carousel_list{
        display: flex;
    }

    .plant_card {
        width: 350px;
        height: 315px;
        margin-left: 30px;
    }

    .carousel-button{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 130px;
    }
    .icon-wrapper {
        display: block;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color:rgba(121, 162, 7, 0.23);
    }
    
    .plant-icon {
        max-width: 60px;
        padding-top: 15px;
        margin: auto;
        height: 60px;
    }    


    .plant_card_title {
        margin-top: 20px;
        font-size: 24px;
        font-weight: bold;
        color:var(--main-heading-color);
    }

    .plant-btn {
        margin-bottom: 20px;
    }

}