.plantland-wrapper {
    background-image: url(../img/header-about-us-picture/about-us-picture.png);
    background-size:cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plantland-container {
    width: 100%;
    margin: 30px;
}

.plantland-text {
    padding: 15px;
}

.title {
    font-size: 14px;
    font-weight: bold;
    color: var(--main-subheading-btn-color);
    letter-spacing: 2.8px;
}

.header-heading {
    font-size: 48px;
    font-weight:700;
    color:var(--main-heading-color);
    font-family: "Lora", serif;
    margin-top: 15px;
    margin-bottom: 35px;
}

.header_subheading {
    font-size: 18px;
    font-weight: 400px;
    color:#191c18;
    margin-bottom: 35px;
}

.btn-header-best-plants {
    width: 73px;
    height: 22px;
    padding: 18px 34px;
    margin-right: 10px;
    display: inline-block;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    border-radius: 28px;
    text-decoration: none;
    text-align: center;
    transition: color 0.7s;
    background-color:var(--main-subheading-btn-color) ;
}

.btn-header-best-plants:hover {
  background-color: var(--main-heading-color);
}

.btn-header-lean-more {
    width: 73px;
    height: 22px;
    margin-top: 20px;
    display: inline-block;
    font-size: 12px;
    color: #191c18;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    padding: 18px 34px;
    border-radius: 28px;
    text-decoration: none;
    text-align: center;
    transition: color 0.7s;
    background-color:transparent;
    border: 1px solid #191c18;
}

.btn-header-lean-more:hover {
    color: #fff;
    background-color: #191c18;
}

@media(min-width: 700px) {
    .plantland-wrapper {
        background-image: url(../img/header-about-us-picture/about-us-picture.png);
        background-size:cover;
        background-position:center;
        background-position-x: 18%;
        min-height:100vh;
        display: block;
    } 

    .plantland-container {
        max-width: 980px;
        margin: auto;
        width: 100%;
        padding-left: 30px;
        padding-top: 195px;
    }

    .plantland-text {
        width: 483px;
    }

    .header-heading {
        font-size: 65px;
        font-weight: bold;
        color:var(--main-heading-color);
        font-family: "Lora", serif;
    }

    .header_subheading {
        font-size: 18px;
        font-weight: 400px;
        margin-top: 15px;
        margin-bottom: 15px;
        color:#191c18;
    }
 
    .btn-header-lean-more {
        width: 73px;
        height: 22px;
        margin: 20px;
        display: inline-block;
        font-size: 12px;
        color: #191c18;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        padding: 18px 34px;
        border-radius: 28px;
        text-decoration: none;
        text-align: center;
        transition: color 0.7s;
        background-color:transparent;
        border: 1px solid #191c18;
    }
    
    .btn-header-lean-more:hover {
        color: #fff;
        background-color: #191c18;
    }
}