.plants-months__wrapper {
    padding-top: 60px;
    padding-bottom: 90px;
    padding-left: 24px;
    padding-right: 24px;
}

.pick-of-the-month__text {
    text-align: center;
}

@media (min-width: 700px) {
    .pick-of-the-month_wrapper {
        padding-top: 60px;
        padding-bottom: 120px;
    }
    
    .pick-of-the-month__text {
        text-align: center;
    }
}

.tabs__button {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: var(--main-subheading-btn-color);
    margin-left: 10px;
    font-family: "Source Sans Pro", sans-serif;
}

.tabs__button:hover {
    color: var(--main-heading-color);
}

.tabs__sidebar {
    text-align: center;
}

.plant-picture-wrapper {
    width: 250px;
    height: 250px;
    margin: 0 10px;

}