.green_flower {
    /* height: 100%;
    width: 100%;
    object-fit: cover; */
    /* display: grid;
    justify-content: center; */
}
.questions {
    margin-right: 170px;
}
.questions_smallsubheading {
    font-size: 14px;
    font-weight: bold;
    color: var(--main-subheading-btn-color);
    text-transform: uppercase;
    margin-bottom: 15px;
}
.questions_heading {
    font-size: 42px;
    font-weight: bolt;
    font-family: 'Lora', sans-serif;
    color:var(--main-heading-color);
    margin-bottom: 25px;
}
.questions_subheading {
    font-size: 17px;
    line-height: 25.5px;
    letter-spacing: 0.85px;
    margin-bottom: 40px;
}
.question_list_name {
    font-size: 24px;
    font-weight: bold;
    color:var(--main-heading-color);
    line-height: 33.6px;
}
.question_list_answers {
    font-size: 17px;
    line-height: 25.5px;
    letter-spacing: 0.85px;
    opacity: 0.7;
}
@media (min-width: 980px) {
    .question_options {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}