.question_options {
    margin-top: 25px;
    margin-bottom: 100px;
}
.questions {
    margin: 100px 20px 0px 30px;
}
.questions_smallsubheading {
    font-size: 14px;
    font-weight: bold;
    color: var(--main-subheading-btn-color);
    letter-spacing: 2.8px;
}
.questions_heading {
    font-size: 42px;
    font-weight: bold;
    font-family: 'Lora', sans-serif;
    color:var(--main-heading-color);
    margin: 15px 0px 25px 0px;
}
.questions_subheading {
    font-size: 17px;
    line-height: 25.5px;
    letter-spacing: 0.85px;
    margin-bottom: 30px;
}
.questions_list {
    margin-bottom: 50px;
}
.question_list__question {
    border-bottom: 1px solid rgb(211, 206, 206);
    padding-bottom: 20px;
    padding-top: 20px;
}
.question_container {
    cursor: pointer;
}
.question_list_title {
    display: flex;
    justify-content: space-between;
}
.question_list_name {
    font-size: 24px;
    font-weight: bold;
    color:var(--main-heading-color);
}
.arrow {
    width: 10px;
    height: 10px;
    border-top: 2px solid;
    border-right: 2px solid;
    margin-right: 10px;
}
.arrow-bottom {
    transform: rotate(135deg);
}
.question_list_answers {
    font-size: 17px;
    line-height: 25.5px;
    letter-spacing: 0.85px;
    opacity: 0.7;
    height: 0;
    overflow: hidden;
    transition: .5s ease-in-out;
}
.question_container.active .question_list_answers {
    height: 50px;
    padding-top: 20px;
    padding-right: 15px;
}
.question_container.active .arrow-bottom {
    transform: rotate(-45deg);
}
.question_btm {
    border-radius: 28px;
    padding: 18px 34px;
    font-size: 12.1px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 0.121px;
    text-decoration: none;
    background-color:var(--main-subheading-btn-color);
}
.question_btm:hover {
    background-color: var(--main-heading-color);
}
@media (min-width: 770px) {
    .question_options {
        display: flex;
        flex-direction: row;
    }
    .green_flover_picture {
    padding-top: 170px;
    }
    .questions {
        margin-right: 140px;
        margin-left: 80px;
    }
}