.statistics-line-wrapper {
    background-color: var(--main-heading-color);
}

.statistic-number {
    font-family: "Lora", serif;
    font-weight: bold;
    font-size: 48px;
    color: rgb(236, 210, 160);
}

.stat-text {
    font-family:"Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding-left: 10px;
    margin-bottom: 20px;
}

.statistic-container-text {
    margin-top: 20px;
    margin-bottom: 25px;
}

.statistics-information {
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items:center;
    padding-top: 40px;
    padding-bottom: 40px;
}

@media (min-width: 700px) {
    .statistics-line-wrapper {
        background-color: var(--main-heading-color);
        max-height: 740px;
    }

    .statistics-information {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .statistic-number {
        font-family: "Lora", serif;
        font-weight: bold;
        font-size: 74px;
        color: rgb(236, 210, 160);
    }

    .stat-text {
        font-family:"Source Sans Pro", sans-serif;
        font-size: 14px;
        font-weight: bold;
        color: rgb(255, 255, 255);
        padding-left: 25px;
    }

    .statistic-container-text {
        margin-top: 80px;
        margin-bottom: 80px;
    }
} 