.testemonial-wrapper {
    background-color: var(--main-heading-color);
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
}

.testemonial-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.image-wrapper {
    display: flex;
    flex-direction: column;
    background-color: rgba(121, 162, 7, 0.23);
}

.testemonial-carousel_list {
    display: flex;
    flex-direction: row;
}

.testemonials-icon {
    width: 100px;
    height: 100px;
}

.testemonial_showforward {
    width: 10px;
    height: 10px;
    border-top: 2px solid;
    border-right: 2px solid;
    margin-right: 10px;
    transform: rotate(45deg);
}

.testemonial_showback {
    width: 10px;
    height: 10px;
    border-top: 2px solid;
    border-right: 2px solid;
    margin-right: 10px;
    transform: rotate(230deg);
}

.btn {
    color: #faf5f2;
}

@media(min-width: 600px) {
    .image-wrapper {
        margin-left: 30px;
    }

    .plant_showback{
        position: absolute;
        top: 172px;
        left: 15px;
        }
    
}


@media (min-width: 700px) {

.testemonial-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.testemonials-card-container {
    display: flex;
}
.image-wrapper {
    margin-left: 30px;
    background-color: rgba(121, 162, 7, 0.23);
}

.testemonials-icon {
    width: 155px;
    height: 85px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 35px;
    margin-right: 35px;
}

.testemonial-carousel_list {
    display: flex;
    flex-direction: row;
    align-items: center;
}
}