.testemonial-wrapper {
    background-color: var(--main-heading-color);
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
}

.testemonial-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.image-wrapper {
    display: flex;
    flex-direction: column;
    background-color: rgba(121, 162, 7, 0.23);
    width: 465px;
    height: 258px;
}

.testemonial-carousel_list {
    display: flex;
    flex-direction: row;
}


@media(min-width: 600px) {
    .image-wrapper {
        margin-left: 30px;
    }

    .plant_showback{
        position: absolute;
        top: 172px;
        left: 15px;
        }
    
}


@media (min-width: 700px) {

.testemonial-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-wrapper {
    margin-left: 30px;
    background-color: rgba(121, 162, 7, 0.23);
    width: 236px;
    height: 155px;
}

.plant-icon {
    max-height: 104px;
    max-width: 126px;
}

.testemonial-carousel_list {
    display: flex;
    flex-direction: row;
    align-items: center;
}
}